:root {
	--mood_color: 67, 175, 191, 1;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 2em;
}
#closed-captions .on {
	opacity: 1;
	text-align: center;
	margin: auto;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: normal;
}
.voice2 {
	font-weight: lighter;
}

.voice3 {
	font-weight: lighter;
	font-style: italic;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound0 {
	background: radial-gradient(circle,rgba(var(--mood_color)) 0%, rgba(33, 33, 33, 1) 100%);
}

.sound1 {
	--mood_color: 84, 24, 14, 1;
}

.sound2 {
	--mood_color: 156, 47, 25, 1;
}

.sound3 {
	--mood_color: 84, 24, 14, 1;
}

.sound4 {
	--mood_color: 156, 47, 25, 1;
}

/* Effects */
.effect1 {
	outline: solid;
	outline-width: 4px;
	outline-color: rgba(var(--mood_color));
}

.effect2 {
	outline: solid;
	outline-width: 10px;
	outline-color: rgba(var(--mood_color));
}

.effect3 {
	outline: solid;
	outline-width: 4px;
	outline-color: rgba(var(--mood_color));
}

.effect4 {
	outline: solid;
	outline-width: 10px;
	outline-color: rgba(var(--mood_color));
}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	background-color: black;
	color: white;
	font-family: "Nunito Sans", sans-serif;
	transition: all .3s ease;
}
#video-container {
	margin: auto;
}
#video-mask {
	aspect-ratio: 16/8;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
	border-radius: 10px;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}


